body {
  font-family: sans-serif;
  width: 100%;
  height: 100%;
  color: #c0d3be;
  background-color: #1b1b1c;
  font-family: 'Inconsolata', monotype;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.container {
  display: flex;
  flex-direction: column;
}

.success {
  color: #4ce7da;
}
.failure {
  color: #d75b2a;
}
h2 {
  color: #d75b2a;
  font-family: 'Oswald', sans-serif;
  font-size: 2.4rem;
  letter-spacing: .1rem;
}
h3 {
  font-family: 'Inconsolata', sans-serif;
  font-size: 1.4em;
}
h4 {
  font-family: 'Oswald', sans-serif;
  letter-spacing: .1rem;
}
h5 {
  font-family: 'Oswald', sans-serif;
  font-size: 1.6rem;
}
h6 {
  font-family: 'Inconsolata', sans-serif;
  font-size: 1.6rem;
}

.start-container {
  display: flex;
  justify-content: space-around;
  min-height: 100vh;
  align-items: flex-end;
}
.start-game {
  flex: 0 0 40%;
  align-self: center;
  height: 70vh;
  min-height: 100%;
  border-style: solid;
  border-width: 38px 85px 79px 83px;
  -moz-border-image: url(img/control-panel.png) 38 85 79 83 repeat;
  -webkit-border-image: url(img/control-panel.png) 38 85 79 83 repeat;
  -o-border-image: url(img/control-panel.png) 38 85 79 83 repeat;
  border-image: url(img/control-panel.png) 38 85 79 83 fill repeat;
  border-radius: 10%;
}
.chester {
  flex: 0 0 35%;
}

.chester-img {
  width: auto
}

.layout-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* // GAME HEADER */
.layout-header {
  flex: 0 0 20%;
  display: flex;
  flex-direction: row;
  margin: 2vh 2vh 2vh 2vh;
  justify-content: center;
}
.layout-header__left {
  flex: 1;
  color: #ffbb33;
  text-shadow: 2px 3px 0px #bd8a25;
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
  padding: .1em;
  background-color: #d79c2a;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.layout-header__title {
  flex: 4;
  font-size: 2.4em;
  letter-spacing: .1em;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  text-align: center;

}
.layout-header__levels {
  flex: 1;
  background-color: #2f9c93;
  box-shadow: inset 0 -0.6em 0 -0.35em #27817a;
  border-right: 2px solid #1b1b1c;
  padding: 2vh 0vh;
  text-align: center;
}
.layout-header__levels-active {
  flex: 1;
  padding: 2vh 0vh;
  background-color: #d75b2a;
  box-shadow: inset 0 -0.6em 0 -0.35em #97401d;
  font-weight: bold;
  border-right: 2px solid #1b1b1c;
  text-align: center;
}
.layout-header__right {
  flex: 1;
  color: #ffbb33;
  text-align: center;
  text-shadow: 2px 3px 0px #bd8a25;
  font-size: 3rem;
  font-weight: bold;
  padding: .1em;
  background-color: #d79c2a;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

/* // GAME BODY */
.layout-body {
  flex: 0 0 80%;
  margin-top: 2vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.left-side {
  flex: 1;
  align-self: stretch;
  padding-left: 2vw;
  padding-right: 1vw;
}

.right-side {
  flex: 1;
  align-self: stretch;
  justify-content: space-between;
  padding-left: 1vw;
  padding-right: 2vw;
}

.button-red{
  padding: .4em .7em;
  margin: 0 0.15em 0.15em 0;
  border-radius: 0em;
  font-family: 'Inconsolata', sans-serif;
  font-weight: 400;
  color: #1b1b1c;
  background-color: #d75b2a;
  box-shadow: inset 0 -0.6em 0 -0.35em #97401d;
  text-align: center;
  position: relative;
  border: none;
  text-decoration: none;
  outline: 0;
  }

.button-blue{
  padding: .4em .7em;
  margin: 0 0.15em 0.15em 0;
  border-radius: 0em;
  font-family: 'Inconsolata', sans-serif;
  font-weight: 400;
  color: #1b1b1c;
  background-color: #2f9c93;
  box-shadow: inset 0 -0.6em 0 -0.35em #27817a;
  text-align: center;
  position: relative;
  border: none;
  text-decoration: none;
  outline: 0;
}

.button-blue-active {
  background-color: #4ce7da;
  display: inline-block;
  padding: .4em .7em;
  margin: 0 0.15em 0.15em 0;
  border-radius: 0em;
  box-sizing:  border-box;
  font-family: 'Inconsolata', sans-serif;
  font-weight: 400;
  color: #1b1b1c;
  box-shadow: inset 0 -0.6em 0 -0.35em #34a89e;
  text-align: center;
  position: relative;
  border: none;
  text-decoration: none;
  outline: 0;
  }

.button-inactive{
  padding: .4em .7em;
  margin: 0 0.15em 0.15em 0;
  border-radius: 0em;
  font-family: 'Inconsolata', sans-serif;
  font-weight: 400;
  color: #1b1b1c;
  background-color: #5d5d5f;
  box-shadow: inset 0 -0.6em 0 -0.35em #404042;
  text-align: center;
  position: relative;
  border: none;
  text-decoration: none;
  outline: 0;
  }

.button-blue:active {
  top: 0.2em;
}

.button-green:active {
  top: 0.2em;
}

.button-red:active {
    top: 0.2em;
}
.button-blue-active:active {
  top: 0.2em;
}

.send-test {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.clear-send {
  flex: 1;
  text-align: right;
}

.display-assertions {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
.display-inputs {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
.assertion {
  flex: 0 0 10%;
}

.test-block {
  display: flex;
  background-color: #2e2e30;
  border-radius: 5px;
  width: auto;
  flex-direction: column;
  height: auto;
  padding: .5em;
  margin-top: .5em;
  margin-bottom: .5em;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
}

.func-block {
  background-color: #2e2e30;
  border-radius: 3px;
  width: auto;
  height: auto;
  max-height: 30vh;
  padding: .5em;
  margin-top: .5em;
  margin-bottom: .5em;
}

ul, li {
  font-family: 'Inconsolata', sans-serif;
}

.inner-block {
  background-color: #404042;
  border-radius: 4px;
  width: 100%;
  height: auto;
  padding: .5em;
  margin: .5em 0 1em 0;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
}

.output-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: none;
  padding: none;
}

.test-output {
  flex: 0 0 30%;
}
.level-up {
  align-self: flex-start;
  text-align: right;
  flex: 0 0 30%;
}

.button-blue-lg {
  background-color: #4ce7da;
  display: inline-block;
  padding: .4em .7em;
  margin: 0 0.15em 0.15em 0;
  border-radius: 0em;
  box-sizing:  border-box;
  font-family: 'Inconsolata', sans-serif;
  font-weight: 600;
  color: #1b1b1c;
  box-shadow: inset 0 -0.6em 0 -0.35em #34a89e;
  text-align: center;
  position: relative;
  border: none;
  text-decoration: none;
  font-size: 2rem;
  outline: 0;
}
.button-inactive-lg {
  background-color: #5d5d5f;
  display: inline-block;
  padding: .4em .7em;
  margin: 0 0.15em 0.15em 0;
  border-radius: 0em;
  box-sizing:  border-box;
  font-family: 'Inconsolata', sans-serif;
  font-weight: 400;
  color: #1b1b1c;
  box-shadow: inset 0 -0.6em 0 -0.35em #404042;
  text-align: center;
  position: relative;
  border: none;
  text-decoration: none;
  font-size: 2rem;
  outline: 0;
}

.button-blue-lg:active {
  top: 0.2em;
}

.expect-input{
  padding: .5em .8em;
  margin: 0 0.15em 0.15em 0;
  border-radius: 0em;
  font-family: 'Inconsolata', sans-serif;
  font-weight: 400;
  color: #1b1b1c;
  background-color: #4ce7da;
  box-shadow: inset 0 -0.6em 0 -0.35em #34a89e;
  text-align: left;
  position: relative;
  border: none;
  text-decoration: none;
  outline-color: #34a89e;
  }

  .expect-input::placeholder {
    color: #34a89e;
  }
