body {
  font-family: sans-serif;
  width: 100%;
  height: 100%;
  color: #c0d3be;
  background-color: #1b1b1c;
  overflow-x: hidden;
  font-family: 'Inconsolata', monotype;
}

a {
  text-decoration: none;
  color: #c0d3be;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.container {
  display: flex;
  flex-direction: column;
}

.success {
  color: #4ce7da;
  font-size: 1.5rem;
}
.failure {
  color: #d75b2a;
  font-size: 1.5rem;
}
h2 {
  color: #d75b2a;
  font-family: 'Oswald', sans-serif;
  font-size: 2.4rem;
  letter-spacing: .1rem;
}
h3 {
  font-family: 'Inconsolata', sans-serif;
  font-size: 1.37em;
}
h4 {
  font-family: 'Oswald', sans-serif;
  letter-spacing: .1rem;
}
h5 {
  font-family: 'Oswald', sans-serif;
  font-size: 1.6rem;
}
h6 {
  font-family: 'Inconsolata', sans-serif;
  font-size: 1.6rem;
}

.start-container {
  display: flex;
  justify-content: space-around;
  min-height: 89vh;
  align-items: flex-end;
}
.intro-block {
  background-color: #2e2e30;
  flex: 0 0 50%;
  align-self: center;
  border-radius: 3px;
  width: auto;
  min-height: 40vh;
  max-height: 70vh;
  overflow-y: scroll;
  padding: 1em 3em;
  margin-top: .5em;
}
.chester {
  flex: 0 0 35%;
}

.chester-img {
  width: auto
}

.layout-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* // GAME HEADER */
.layout-header {
  flex: 0 0 20%;
  max-width: 100vw;
  display: flex;
  flex-direction: row;
  margin: 2vh 2vh 2vh 2vh;
  justify-content: center;
}
.layout-header__left {
  flex: 1;
  color: #ffbb33;
  text-shadow: 2px 3px 0px #bd8a25;
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
  padding: .1em;
  background-color: #d79c2a;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.layout-header__title {
  flex: 4;
  font-size: 2.4em;
  letter-spacing: .1em;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  text-align: center;

}
.layout-header__levels {
  flex: 1;
  background-color: #2f9c93;
  box-shadow: inset 0 -0.6em 0 -0.35em #216e68;
  border-right: 2px solid #1b1b1c;
  padding: 2vh 0vh;
  text-align: center;
}

.layout-header__levels-active {
  flex: 1;
  padding: 2vh 0vh;
  background-color: #d75b2a;
  box-shadow: inset 0 -0.6em 0 -0.35em #97401d;
  font-weight: bold;
  border-right: 2px solid #1b1b1c;
  text-align: center;
}
.layout-header__right {
  flex: 1;
  color: #ffbb33;
  text-align: center;
  text-shadow: 2px 3px 0px #bd8a25;
  font-size: 3rem;
  font-weight: bold;
  padding: .1em;
  background-color: #d79c2a;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

/* // GAME BODY */
.layout-body {
  flex: 0 0 80%;
  margin-top: 2vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.left-side {
  flex: 1;
  align-self: stretch;
  padding-left: 2vw;
  padding-right: 1vw;
}

.right-side {
  flex: 1;
  align-self: stretch;
  justify-content: space-between;
  padding-left: 1vw;
  padding-right: 2vw;
}

.button-red{
  padding: .4em .7em;
  margin: 0 0.15em 0.15em 0;
  border-radius: 0em;
  font-family: 'Inconsolata', sans-serif;
  font-weight: 400;
  color: #1b1b1c;
  background-color: #d75b2a;
  box-shadow: inset 0 -0.6em 0 -0.35em #97401d;
  text-align: center;
  position: relative;
  border: none;
  text-decoration: none;
  outline: 0;
  }

.button-red-active{
  padding: .4em .7em;
  margin: 0 0.15em 0.15em 0;
  border-radius: 0em;
  font-family: 'Inconsolata', sans-serif;
  font-weight: 400;
  color: #1b1b1c;
  background-color: #ff7e28;
  box-shadow: inset 0 -0.6em 0 -0.35em #b65923;
  text-align: center;
  position: relative;
  border: none;
  text-decoration: none;
  outline: 0;
  }


.button-blue{
  padding: .4em .7em;
  margin: 0 0.15em 0.15em 0;
  border-radius: 0em;
  font-family: 'Inconsolata', sans-serif;
  font-weight: 400;
  color: #1b1b1c;
  background-color: #2f9c93;
  box-shadow: inset 0 -0.6em 0 -0.35em #216e68;
  text-align: center;
  position: relative;
  border: none;
  text-decoration: none;
  outline: 0;
}

.button-blue-active {
  background-color: #4ce7da;
  display: inline-block;
  padding: .4em .7em;
  margin: 0 0.15em 0.15em 0;
  border-radius: 0em;
  box-sizing:  border-box;
  font-family: 'Inconsolata', sans-serif;
  font-weight: 400;
  color: #1b1b1c;
  box-shadow: inset 0 -0.6em 0 -0.35em #34a89e;
  text-align: center;
  position: relative;
  border: none;
  text-decoration: none;
  outline: 0;
  }

.button-inactive{
  padding: .4em .7em;
  margin: 0 0.15em 0.15em 0;
  border-radius: 0em;
  font-family: 'Inconsolata', sans-serif;
  font-weight: 400;
  color: #1b1b1c;
  background-color: #5d5d5f;
  box-shadow: inset 0 -0.6em 0 -0.35em #404042;
  text-align: center;
  position: relative;
  border: none;
  text-decoration: none;
  outline: 0;
  }

.button-blue:active {
  top: 0.2em;
}

.button-green:active {
  top: 0.2em;
}

.button-red:active {
    top: 0.2em;
}
.button-blue-active:active {
  top: 0.2em;
}
.button-red-active:active {
  top: 0.2em;
}

.send-test {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.clear-send {
  flex: 1;
  text-align: right;
}

.display-assertions {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
}
.display-inputs {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
.assertion {
  flex: 0 0 10%;
}

.test-block {
  display: flex;
  background-color: #2e2e30;
  border-radius: 5px;
  width: auto;
  flex-direction: column;
  height: auto;
  padding: .5em;
  margin-top: .5em;
  margin-bottom: .5em;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
}

.func-block {
  background-color: #2e2e30;
  border-radius: 3px;
  width: auto;
  height: auto;
  overflow: scroll;
  padding: .5em;
  word-wrap: normal;
  margin-top: .5em;
  margin-bottom: .5em;
}

ul, li {
  font-family: 'Inconsolata', sans-serif;
}

.inner-block {
  background-color: #404042;
  border-radius: 4px;
  width: 100%;
  height: auto;
  padding: .5em;
  margin: .5em 0 1em 0;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
}

.output-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: none;
  padding: none;
}

.test-output {
  flex: 0 0 50%;
}
.level-up {
  align-self: flex-end;
  text-align: right;
  flex: 0 0 30%;
}

.button-blue-lg {
  background-color: #4ce7da;
  display: inline-block;
  padding: .4em .7em;
  margin: 0 0.15em 0.15em 0;
  border-radius: 0em;
  box-sizing:  border-box;
  font-family: 'Inconsolata', sans-serif;
  font-weight: 600;
  color: #1b1b1c;
  box-shadow: inset 0 -0.6em 0 -0.35em #34a89e;
  text-align: center;
  position: relative;
  border: none;
  text-decoration: none;
  font-size: 2rem;
  outline: 0;
}
.button-inactive-lg {
  background-color: #5d5d5f;
  display: inline-block;
  padding: .4em .7em;
  margin: 0 0.15em 0.15em 0;
  border-radius: 0em;
  box-sizing:  border-box;
  font-family: 'Inconsolata', sans-serif;
  font-weight: 400;
  color: #1b1b1c;
  box-shadow: inset 0 -0.6em 0 -0.35em #404042;
  text-align: center;
  position: relative;
  border: none;
  text-decoration: none;
  font-size: 2rem;
  outline: 0;
}

.button-blue-lg:active {
  top: 0.2em;
}

.expect-input{
  padding: .5em .8em;
  margin: 0 0.15em 0.15em 0;
  border-radius: 0em;
  font-family: 'Inconsolata', sans-serif;
  font-weight: 400;
  color: #1b1b1c;
  background-color: #4ce7da;
  box-shadow: inset 0 -0.6em 0 -0.35em #34a89e;
  text-align: left;
  position: relative;
  border: none;
  text-decoration: none;
  outline-color: #34a89e;
  }

.expect-input::placeholder {
  color: #34a89e;
}

.backdrop {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 9998;
  background: #5d5d5fd0;
}
.outro-modal {
  background-color: #1b1b1c;
  font-family: 'Inconsolata', sans-serif;
  color: #c0d3be;
  align-self: flex-start;
  justify-content: space-between;
  border-radius: 10px;
  min-height: 40vh;
  width: 100vw;
  min-width: 90vw;
  padding: 1em 3em 0 3em;
  display: flex;
  margin-top: 5em;
}

.outro-left {
  flex: 0 0 65%;
  padding-bottom: 5vh;
}

.outro-right {
  flex: 0 0 30%;
  align-self: flex-end;
}

.title-button-float {
  align-self: space-between;
}

/* .transition-wrapper {
  position: relative;
  z-index: 1;
}

.transition-wrapper .transition-item {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.generator {
  transition: transform 0.5s, opacity 0.5s;
  transform: translate3d(0, 0, 0);
}

.generator.transition-appear {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
}

.generator.transition-appear.transition-appear-active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.generator.transition-leave {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.generator.transition-leave.transition-leave-active {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
}

.intro {
  transition: transform 0.5s, opacity 0.5s;
  transform: translate3d(0, 0, 0);
}

.intro.transition-appear {
  opacity: 0;
  transform: translate3d(0, 0, 0);
}

.intro.transition-appear.transition-appear-active {
  opacity: 1;
  transform: translate3d(-100%, 0, 0);
}

.intro.transition-leave {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.intro.transition-leave.transition-leave-active {
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
}

.layout {
  transition: transform 0.5s, opacity 0.5s;
  transform: translate3d(0, 0, 0);
}

.layout.transition-appear {
  opacity: 0;
  transform: translate3d(0, 0, 0);
}

.layout.transition-appear.transition-appear-active {
  opacity: 1;
  transform: translate3d(-100%, 0, 0);
}

.layout.transition-leave {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.layout.transition-leave.transition-leave-active {
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
}

.start {
  transition: transform 0.5s, opacity 0.5s;
  transform: translate3d(0, 0, 0);
}

.start.transition-appear {
  opacity: 0;
  transform: translate3d(0, 0, 0);
}

.start.transition-appear.transition-appear-active {
  opacity: 1;
  transform: translate3d(-100%, 0, 0);
}

.start.transition-leave {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.start.transition-leave.transition-leave-active {
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
} */
