body {
  font-family: sans-serif;
  width: 100%;
  height: 100%;
  color: #c0d3be;
  background-color: #1b1b1c;
  font-family: 'Inconsolata', monotype;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.container {
  display: flex;
  flex-direction: column;
}

.success {
  color: green;
}
.failure {
  color: red;
}

.start-container {
  display: flex;
  justify-content: space-around;
  min-height: 100vh;
  align-items: flex-end;
}
.start-game {
  flex: 0 0 40%;
  align-self: center;
  height: 70vh;
  min-height: 100%;
  border-style: solid;
  border-width: 38px 85px 79px 83px;
  -moz-border-image: url(img/control-panel.png) 38 85 79 83 repeat;
  -webkit-border-image: url(img/control-panel.png) 38 85 79 83 repeat;
  -o-border-image: url(img/control-panel.png) 38 85 79 83 repeat;
  border-image: url(img/control-panel.png) 38 85 79 83 fill repeat;
  border-radius: 10%;
}
.chester {
  flex: 0 0 35%;
}

.chester-img {
  width: auto
}

.button {
	display: inline-block;
	padding: .5vw 1vh;
	color: #1b1b1c;
	transform: translate(0%, 0%);
	font-family: 'Inconsolata', monotype;
	text-decoration: none;
	font-size: 1.7vw;
	transition: all .1s;
  background-color: #d75b2a;
  text-decoration: none;
  outline: 0;
  border: none;
}
.button::before {
  position: absolute;
	content: '';
	transition: all .1s;
  bottom: -10px;
  height: 10px;
  width: 100%;
  left: 5px;
  transform: skewX(45deg);
  background-color: #ba4f24;
}

.button::after {
  position: absolute;
	content: '';
	transition: all .1s;
  right: -10px;
  height: 100%;
  width: 10px;
  bottom: -5px;
  transform: skewY(45deg);
  background-color: #ab4922;
}

.button:active {
  margin-left: 10px;
  margin-top: 10px;
  text-decoration: none;
}
.button:active::before {
  bottom: -2px;
  height: 2px;
  left: 1px;
}

.button:active::after {
  right: -2px;
  width: 2px;
  bottom: -1px;
}

.layout-container {
  display: flex;
  flex-direction: column;
}

/* // GAME HEADER */
.layout-header {
  flex: 0 0 20%;
  display: flex;
  flex-direction: row;
  margin: 2vh 2vh 2vh 2vh;
  justify-content: center;
}
.layout-header__left {
  flex: 1;
  color: #ffbb33;
  text-shadow: 2px 3px 0px #bd8a25;
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
  padding: .1em;
  background-color: #d79c2a;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.layout-header__title {
  flex: 4;
  font-size: 2.4em;
  letter-spacing: .1em;
  font-weight: bold;
  text-align: center;

}
.layout-header__levels {
  flex: 1;
  background-color: #2f9c93;
  box-shadow: inset 0 -0.6em 0 -0.35em #27817a;
  border-right: 2px solid #1b1b1c;
  padding: 2vh 0vh;
  text-align: center;
}
.layout-header__levels-active {
  flex: 1;
  padding: 2vh 0vh;
  background-color: #d75b2a;
  box-shadow: inset 0 -0.6em 0 -0.35em #97401d;
  font-weight: bold;
  border-right: 2px solid #1b1b1c;
  text-align: center;
}
.layout-header__right {
  flex: 1;
  color: #ffbb33;
  text-align: center;
  text-shadow: 2px 3px 0px #bd8a25;
  font-size: 3rem;
  font-weight: bold;
  padding: .1em;
  background-color: #d79c2a;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

/* // GAME BODY */
.layout-body {
  flex: 0 0 80%;
  margin: 1vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.test-keyboard {
  flex: 4;
  align-self: center;
  height: 40vh;
  min-height: 100%;
  padding: 1rem;
  border-top: 4px solid #d75b2a;
  border-bottom: 4px solid #2f9c93;
}
.code-block {
  flex: 4;
  align-self: center;
  height: 40vh;
  min-height: 100%;
  padding: 1rem;
  border-top: 4px solid #2f9c93;
  border-bottom: 4px solid #d75b2a;

}
.body-left {
  flex: 1;
  height: 40vh;
  background-color: #d79c2a;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
.body-right {
  flex: 1;
  height: 40vh;
  background-color: #d79c2a;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;

}


.button-test{
  display: inline-block;
  padding: .4em .7em;
  margin: 0 0.15em 0.15em 0;
  border-radius: 0em;
  box-sizing:  border-box;
  font-family: 'Inconsolata', sans-serif;
  font-weight: 400;
  color: #1b1b1c;
  background-color: #d75b2a;
  box-shadow: inset 0 -0.6em 0 -0.35em #97401d;
  text-align: center;
  position: relative;
  border: none;
  text-decoration: none;
  outline: 0;
  }
 .button-test:active {
  top: 0.2em;
  }
/* // Hides cursor on ace editor!! */
  .ace_hidden-cursors {
    opacity: 0;
  }
